<h4 class="card-title">{{ obtenerPregunta() }}</h4>
<ul class="list-group">
    <li class="list-group-item" 
    *ngFor="let respuesta of listPregunta[preguntaService.indexPregunta].respuestas"
    (click)="respuestaSeleccionada(respuesta, i)" [ngClass]="AddClassOption(respuesta)">
        {{ respuesta.nombre }}
        <span class="material-icons correct" *ngIf="iconCorrecta(respuesta)">
            check_circle
        </span>
        <span class="material-icons incorrect" *ngIf="iconIncorrecta(respuesta)">
            clear
        </span>
    </li>
    
</ul>
<br>
<app-botonera></app-botonera>